body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

.header{
  display: flex;
  align-items: center;
  height: 5rem;
  background: linear-gradient(45deg, blue, red);
  color:white;
}
.header--image{
  height:50%;
  padding:26px;
}
.header--title{
  font-size:28px;
  margin-right: auto;
}
.header--project{
  font-size: 15px;
  font-weight: 500px;
}
.form{
  display: grid;
grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding:23px;
}
.form--buttom{
  grid-column: 1 / -1;
  cursor: pointer;
  background-color: purple;
  color:white;
  font-size: 22px;
}
.form-inputs{
border-radius: 12px;
text-indent:23px;
}
.image_meme{
  max-width: 62%;
  border: 2px solid black;
 
}
.Image__holder{
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  
}

.firstText{
  color:white;
  transform: translate(23rem,8rem);
  width: 37rem;
  height: 8rem;
  overflow-wrap: break-word;
  font-size: 32px;
  font-family: cursive;
 
}
.secondText{
  color:white;
  transform: translate(23rem,5rem);
  width: 37rem;
  height: 8rem;
  overflow-wrap: break-word;
  margin-top: 89px;
  font-size: 32px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

